<%- include("./layouts/userheader.ejs") %>


    <div class="container mt-5">

        <div class="row ">
            <div class="col-xl-3 col-lg-4 col-md-5 mt-5">
                <div class="sidebar-categories mt-5">
                    <div class="head">Browse Categories</div>

                    <ul class="main-categories">
                        <% for (category of categories) { %>
                            <li class="main-nav-list">
                                <label class="mt-3">
                                    <input id="categories" type="checkbox" name="category"
                                        onclick='getCategory(this, "<%=category%>")' value="<%= category %>">

                                    <%= category %>
                                </label>
                            </li>
                            <% } %>
                    </ul>
                </div>
                <div class="sidebar-categories mt-5">
                    <div class="head">Popular Brands</div>
                    <ul class="main-categories">
                        <% for (brand of brands) { %>
                            <li class="main-nav-list">
                                <label class="mt-3">
                                    <input id="brand" type="checkbox" onclick='getBrand(this, "<%=brand%>")'
                                        name="brand" value="<%= brand %>">
                                    <%= brand %>
                                </label>
                            </li>
                            <% } %>
                    </ul>
                </div>

            </div>

            <div class="col-xl-9 col-lg-8 col-md-7 mt-5">
                <!-- Start Filter Bar -->
                <div class="filter-bar d-flex flex-wrap align-items-center mt-5">
                    <div class="sorting">
                        <select id="sortOptions" onchange="updateSortValue()">
                            <option value="default">Default</option>
                            <option value="lowToHigh">Price: Low to High</option>
                            <option value="highToLow">Price: High to Low</option>
                        </select>
                    </div>
                </div>
                <section class="lattest-product-area pb-40 category-list">
                    <div class="row">
                        <!-- single product -->
                        <% for(const product of products) { %>
                            <div class="col-lg-4 col-md-6">
                                <div class="single-product">
                                    <img class="img-fluid" style="width: 300px;height: 300px;"
                                        src="/public/uploads/<%= product.image[0] %>" alt="">
                                    <div class="product-details">
                                        <h6>
                                            <%=product.categoryName%>
                                        </h6>
                                        <div class="price">
                                            <h6>
                                                <%=product.price%>
                                            </h6>
                                        </div>

                                        <span>
                                            <%=product.description%>
                                        </span>

                                        <div class="prd-bottom">

                                            <a href="" class="social-info">
                                                <span class="ti-bag"></span>
                                                <p class="hover-text">add to bag</p>
                                            </a>
                                            <a href="" class="social-info">
                                                <span class="lnr lnr-heart"></span>
                                                <p class="hover-text">Wishlist</p>
                                            </a>
                                            <a href="" class="social-info">
                                                <span class="lnr lnr-sync"></span>
                                                <p class="hover-text">compare</p>
                                            </a>
                                            <a href="" class="social-info">
                                                <span class="lnr lnr-move"></span>
                                                <p class="hover-text">view more</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                    </div>
                </section>
            </div>
        </div>

    </div>
    <script>
        const selectedCategories = [];
        const selectedBrand = [];
        let sortValue = 0;
    
        function getCategory(checkbox, category) {
            if (checkbox.checked) {
                console.log(`Checkbox for category "${category}" is checked`);
                if (!selectedCategories.includes(category)) {
                    selectedCategories.push(category);
                }
            } else {
                console.log(`Checkbox for category "${category}" is unchecked`);
                const index = selectedCategories.indexOf(category);
                if (index !== -1) {
                    selectedCategories.splice(index, 1);
                }
            }
    
            console.log("Selected Categories:", selectedCategories);
            logData();
        }
    
        function getBrand(checkbox, brand) {
            if (checkbox.checked) {
                console.log(`Checkbox for brand "${brand}" is checked`);
                if (!selectedBrand.includes(brand)) {
                    selectedBrand.push(brand);
                }
            } else {
                console.log(`Checkbox for brand "${brand}" is unchecked`);
                const index = selectedBrand.indexOf(brand);
                if (index !== -1) {
                    selectedBrand.splice(index, 1);
                }
            }
    
            console.log("Selected brand:", selectedBrand);
            logData();
        }
    
        function updateSortValue() {
            const sortOptions = document.getElementById("sortOptions");
            const selectedValue = sortOptions.value;
    
            if (selectedValue === "default") {
                sortValue = 0;
            } else if (selectedValue === "lowToHigh") {
                sortValue = 1;
            } else if (selectedValue === "highToLow") {
                sortValue = -1;
            }
    
            console.log("Sort Value:", sortValue);
            logData();
        }
    
        function logData() {
            const data = {
                selectedCategories,
                selectedBrand,
                sortValue
            };
            console.log(data);
            fetch('/shop/update-filters', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(responseData => {
            // Handle the response from the backend if needed
            console.log('Response from backend:', responseData);
        })
        .catch(error => {
            console.error('Error sending data to backend:', error);
        });
        }
    </script>
    


    <%- include("./layouts/footer.ejs") %>