<%- include("./layouts/userheader.ejs") %>

    <style>
        .input-text.qty {
            padding: 8px 20px;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 16px;
            width: 60px;
        }


        .product_count .items-count {
            display: inline-block;
            background-color: #f2f2f2;
            border: 1px solid #ddd;
            width: 30px;
            height: 30px;
            text-align: center;
            cursor: pointer;
        }


        .product_count .increase {
            border-radius: 4px 4px 0 0;
        }

        /* Style the quantity decrease button */
        .product_count .reduced {
            border-radius: 0 0 4px 4px;
        }

        @keyframes bounce {

            0%,
            100% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-10px);
            }
        }

        .cart_empty_message {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            animation: bounce 1s infinite;
        }
    </style>


    <section class="cart_area mt-5">
        <div class="container mt-3">
            <div class="cart_inner">
                <div class="table-responsive">
                    <% if (data.length>0) { %>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i=0; i < data.length; i++) { %>
                                    <tr class="cart_item_row">
                                        <td>
                                            <div class="media">
                                                <div class="d-flex">
                                                    <img src="../../public/uploads/<%= data[i].image %>"
                                                        style="width: 80px; height: 80px;" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <p>
                                                        <%= data[i].name %>
                                                    </p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h5 class="product_price">
                                                <%= data[i].price %>
                                            </h5>
                                        </td>
                                        <td>
                                            <div class="product_count">


                                                <% if(data[i].quantity<2) { %>

                                                    <%}else{%>
                                                        <%}%>

                                                            <input type="text" value="<%= data[i].quantity%>" />
                                                            <button class="increase  incBtn" type="button"><i
                                                                    class="lnr lnr-chevron-up"></i></button>

                                                            <button id="<%= data[i].id %>" class="reduced"
                                                                type="button"><i
                                                                    class="lnr lnr-chevron-down"></i></button>

                                            </div>
                                        </td>
                                        <td class="product_total" id="product_total_<%= data[i].id %>">₹
                                            <span id="<%= data[i].id%>" class="total_price">
                                                <%= data[i].price * data[i].quantity %>
                                            </span>
                                        </td>



                                        <td>
                                            <a href="/deletecart/<%= data[i].id %>"
                                                class="genric-btn danger-border circle arrow"
                                                onclick='remove("<%= data[i].id %>")'>Remove<span
                                                    class="lnr lnr-arrow-right"></span></a>


                                        </td>


                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>



                </div>
                <span class="cart_total_price " style="color:black">Amount To Pay: <%=totalPrice %>
                </span>


            </div>

            <div style="text-align: right;">

                <a href="/checkout" class="genric-btn primary circle arrow">Proceed to Checkout<span
                        class="lnr lnr-arrow-right"></span></a>
            </div>
            <% } else { %>
                 

                <% } %>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        const decreaseBtns = document.querySelectorAll('.reduced');
        const increaseBtns = document.querySelectorAll('.incBtn');


        for (let btn of decreaseBtns) {
            btn.addEventListener('click', () => {
                const inp = btn.parentElement.querySelector('input');
                if (inp.value > 1) {
                    const totalPrice = btn.parentElement.parentElement.parentElement.querySelector('.total_price');
                    const singleQuantityPrice = +totalPrice.innerText / +inp.value;
                    inp.value = inp.value - 1;
                    totalPrice.innerText = singleQuantityPrice * inp.value;
                    //invoke fetch function
                    updatequantity(totalPrice.id, -1);
                }
            })
        }

        for (let btn of increaseBtns) {
            btn.addEventListener('click', () => {
                const inp = btn.parentElement.querySelector('input');
                const totalPrice = btn.parentElement.parentElement.parentElement.querySelector('.total_price');
                const singleQuantityPrice = +totalPrice.innerText / +inp.value;
                inp.value = +inp.value + 1;
                totalPrice.innerText = singleQuantityPrice * inp.value;
                updatequantity(totalPrice.id, 1)

                //invoke fetch function
            })
        }


        //Update quantity
        const updatequantity = async (cartid, quantity) => {
            console.log(cartid)
            const url = `/updateqty/${cartid}`
            const option = {
                method: "put",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ quantity })
            }
            const res = await fetch(url, option)

            if (res.ok) {
                const data = await res.json();
                console.log("Updated", data)
                const totalPriceElement = document.querySelector('.cart_total_price');
                if (totalPriceElement) {
                    totalPriceElement.textContent = `Amount To Pay: ${data.totalPrice}`;
                }
            } else {
                console.log("oopsssss..............")
            }
        }

        function remove(proId) {
            alert("Are you want to remove from cart")
         

        }
    </script>

    <%- include("./layouts/footer.ejs") %>