<%- include("./layouts/userheader.ejs") %>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css"
/>

<section class="checkout_area section_gap mt-5">
  <div class="container">
    <%if(validCoupon.length>0 && validCoupon){%>
    <div class="cupon_area">
      <div class="check_title">
        <h2 style="color: red">
          Surprise !! You have a coupon here:
          <a
            onclick="showCoupon()"
            id="displayDiv"
            style="color: green; cursor: pointer"
            >Click to Redeem</a
          >
        </h2>
      </div>
      <div id="couponDialog" class="dialog" style="display: none">
        <%for(let coupon of validCoupon){%>
        <div class="dialog-content">
          <h4
            id="couponCode"
            style="color: green; margin-top: 15px; margin-left: 40px"
          >
            <span style="color: black">Coupon Code:</span>
            <%=coupon.couponCode%>
          </h4>
        </div>
        <%}%>
      </div>
      <input type="text" id="couponName" placeholder="Enter coupon code" />
      <button class="tp_btn" href="" id="applybtn" onclick="applyCoupon()">
        Apply Coupon
      </button>
    </div>
    <%}else{%>
    <h1 style="font-size: 24px; color: red; text-align: center; margin: 20px 0">
      No coupons
    </h1>
    <%}%>

    <div class="billing_details">
      <div class="row">
        <div class="col-lg-8">
          <div class="p-lg-1" id="addressDetails">
            <h6 class="ps-md-2 pt-lg-3">Saved Addresses</h6>
            <% if(userAdress){ %> <% userAdress.items.forEach((element,
            index)=>{ %>
            <div id="<%= element._id%>" class="address-details-container mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="form-check">
                    <input class="form-check-input" type="radio"
                    name="selectedAddressId" id="address<%= index %>" value="<%=
                    element._id%>" <%= index === 0 ? 'checked' : '' %>>
                    <label class="form-check-label" for="address<%= index %>">
                      <strong
                        ><%= element.firstName %> <%= element.lastName
                        %></strong
                      ><br />
                      <%= element.HouseName %>, <%= element.adressLine %>, <%=
                      element.nearestLandMark %>, <%= element.pincode %><br />
                      <%= element.city %>, <%= element.state %><br />
                      Alt. Mobile: <%= element.altMobile %>
                    </label>
                  </div>
                  <div class="mt-2">
                    <a
                      href="/update-adress/?id=<%= element._id%>&source=checkout"
                      class="btn btn-sm btn-info"
                      >Update</a
                    >
                    <a
                      href="/deleteadress/?id=<%= element._id%>&source=checkout"
                      class="btn btn-sm btn-danger"
                      >Delete</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <% }) %> <% } %>
          </div>
          <div class="col-md-12 form-group">
            <div class="creat_account">
              <h3>Shipping Details</h3>
              <input
                onclick="enableAdress()"
                type="checkbox"
                id="f-option3"
                name="selector"
              />
              <label for="f-option3">Ship to a different address?</label>
            </div>
          </div>
          <div style="display: none" id="enableAdress">
            <h3>Billing Details</h3>
            <form action="/save-adress" method="post" novalidate="novalidate">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    name="firstName"
                    placeholder="First Name"
                    required
                  />
                </div>
                <div class="col-md-6 form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="lastName"
                    name="lastName"
                    placeholder="Last Name"
                    required
                  />
                </div>
                <div class="col-md-6 form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="altMobile"
                    name="altMobile"
                    placeholder="Alternate Mobile"
                    required
                  />
                </div>
                <div class="col-md-12 form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="HouseName"
                    name="HouseName"
                    placeholder="House Address"
                    required
                  />
                </div>
                <div class="col-md-12 form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="addressLine"
                    name="addressLine"
                    placeholder="Address Line 1"
                    required
                  />
                </div>
                <div class="col-md-12 form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="nearestLandMark"
                    name="nearestLandMark"
                    placeholder="Nearest Land mark"
                    required
                  />
                </div>
                <div class="col-md-6 form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="city"
                    name="city"
                    placeholder="City"
                    required
                  />
                </div>
                <div class="col-md-6 form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="state"
                    name="state"
                    placeholder="State"
                    required
                  />
                </div>
                <div class="col-md-6 form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="pincode"
                    name="pincode"
                    placeholder="Postcode/ZIP"
                  />
                </div>
              </div>
              <button
                type="button"
                onclick="disbleform()"
                class="btn btn-danger mt-2"
              >
                Cancel
              </button>
              <button
                type="submit"
                onclick="submitData()"
                class="btn btn-primary mt-2"
              >
                Save Address
              </button>
            </form>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="order_box mb-5">
            <h2>Your Order</h2>
            <ul class="list">
              <li>
                <a href="#">Product <span>Total</span></a>
              </li>
              <% if (data) { %> <% for (let i=0; i < data.length; i++) { %>
              <li>
                <a href="#">
                  <%=data[i].productName%>
                  <span>₹ <%=data[i].totalPrice%></span>
                  <span> x <%=data[i].productQuantity%> = </span>
                  <span class="last">₹ <%= data[i].productPrice%></span>
                </a>
              </li>
              <%}%> <%}%>
            </ul>
            <ul class="list list_2">
              <li>
                <a href="#">Subtotal <span>₹ <%=subtotal%></span></a>
              </li>
              <li>
                <a href="#">Coupon <span id="coupon-amount">₹ 0</span></a>
              </li>
              <li>
                <a href="#">Total <span id="total">₹ <%=subtotal%></span></a>
              </li>
              <li>
                <a href="#">Shipping <span>₹ 0</span></a>
              </li>
            </ul>
            <div class="payment_item">
              <div class="radion_btn">
                <input
                  checked
                  type="radio"
                  id="f-option5"
                  name="selector"
                  onclick='selected("COD")'
                />
                <label for="f-option5">Cash on delivery</label>
                <div class="check"></div>
              </div>
            </div>
            <div class="payment_item active">
              <div class="radion_btn">
                <input
                  type="radio"
                  id="f-option6"
                  name="selector"
                  onclick='selected("onlinePayment")'
                />
                <label for="f-option6">UPI </label>
                <img src="img/product/card.jpg" alt="" />
                <div class="check"></div>
              </div>
            </div>
            <a
              class="primary-btn"
              id="codPayment"
              href="#"
              onclick="confirmOrder()"
              >Confirm Order</a
            >
            <a
              href="#"
              class="primary-btn"
              id="razorpayPayment"
              onclick="triggerRazorpayPayment()"
              style="display: none"
              >Confirm Razorpay</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div
  class="modal fade"
  id="confirm-dialog"
  tabindex="-1"
  aria-labelledby="confirmOrderModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div
      class="modal-content"
      style="border-radius: 15px; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3)"
    >
      <div
        class="modal-header"
        style="
          background-color: #f8f9fa;
          border-bottom: 1px solid #dee2e6;
          padding: 1rem;
        "
      >
        <h5
          class="modal-title"
          id="confirmOrderModalLabel"
          style="color: #333; font-weight: bold"
        >
          Confirm your order
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" style="padding: 1.5rem">
        <form action="/verify-order" method="post">
          <input type="hidden" name="addressId" id="addressId" />
          <input type="hidden" name="paymentMethod" id="paymentMethod" />
          <input type="hidden" name="amounttopay" id="amount-to-pay" />
          <input type="hidden" name="usedCouponCode" id="used-coupon-code" />
          <div style="margin-bottom: 1rem">
            <h6 style="color: #555; margin-bottom: 0.5rem">Delivery To:</h6>
            <p
              id="delivery-address"
              style="
                background-color: #f1f3f5;
                padding: 0.5rem;
                border-radius: 5px;
              "
            ></p>
            <h6 style="color: #555; margin-bottom: 0.5rem; margin-top: 1rem">
              Payment Method:
            </h6>
            <p
              class="text-danger"
              id="payment-method"
              style="font-weight: bold"
            ></p>
            <p
              id="used-coupon"
              class="text-success"
              style="margin-top: 0.5rem"
            ></p>
            <h6 style="color: #555; margin-bottom: 0.5rem; margin-top: 1rem">
              Amount to be paid:
            </h6>
            <p
              class="text-danger"
              id="amountto-pay"
              style="font-size: 1.2rem; font-weight: bold"
            ></p>
          </div>
          <div style="text-align: right; margin-top: 1rem">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              style="margin-right: 0.5rem"
            >
              Cancel
            </button>
            <button type="submit" class="btn btn-primary" id="confirm-btn">
              Confirm
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  let onlineCouponUsed;

  function showCoupon() {
    const displayCoupon = document.getElementById("couponDialog");
    displayCoupon.style.display = "block";
  }

  async function applyCoupon() {
    let couponCode = document.getElementById("couponName").value;
    event.preventDefault();

    if (!couponCode) {
      Swal.fire("No coupon Applied");
      return;
    }

    const url = `/validate-coupon`;
    const options = {
      method: "post",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ couponCode }),
    };

    try {
      const response = await fetch(url, options);
      const data = await response.json();

      if (!data.amount) {
        Swal.fire("Coupon already used");
      } else if (data.amount) {
        onlineCouponUsed = data;
        const couponAmountElement = document.getElementById("coupon-amount");
        couponAmountElement.textContent = `₹ ${data.amount}`;
        const totalAmountElement = document.getElementById("total");
        const subtotal = parseFloat(
          totalAmountElement.textContent.replace("₹", "")
        );
        const updatedTotal = subtotal - data.amount;
        totalAmountElement.textContent = `₹ ${updatedTotal}`;
        const usedCouponInput = document.getElementById("used-coupon-code");
        usedCouponInput.value = couponCode;
        if (data.message === "Coupon validated successfully.") {
          Swal.fire("Coupon applied successfully");
        }
      } else {
        Swal.fire("Coupon Expired");
      }
    } catch (error) {
      console.error("Error applying coupon:", error);
      Swal.fire("Error applying coupon");
    }
  }

  function selected(mode) {
    const codPayment = document.getElementById("codPayment");
    const upipayment = document.getElementById("razorpayPayment");
    if (mode === "onlinePayment") {
      codPayment.style.display = "none";
      upipayment.style.display = "block";
    } else {
      codPayment.style.display = "block";
      upipayment.style.display = "none";
    }
  }

  function enableAdress() {
    const addressForm = document.getElementById("enableAdress");
    addressForm.style.display =
      addressForm.style.display === "none" ? "block" : "none";
  }

  function disbleform() {
    document.getElementById("enableAdress").style.display = "none";
    document.getElementById("f-option3").checked = false;
  }

  function confirmOrder() {
    const selectedAddress = document.querySelector(
      'input[name="selectedAddressId"]:checked'
    );
    if (!selectedAddress) {
      Swal.fire("Please select an address");
      return;
    }

    const addressDetails = selectedAddress
      .closest(".address-details-container")
      .querySelector(".form-check-label").innerText;
    const payment = document.querySelector('input[name="selector"]:checked');
    const paymentMethodText = payment.nextElementSibling.innerText;
    const amountToPayText = document.getElementById("total").innerText;
    const usedCouponCode = document.getElementById("used-coupon-code").value;

    document.getElementById("delivery-address").innerText = addressDetails;
    document.getElementById("payment-method").innerText = paymentMethodText;
    document.getElementById("amountto-pay").innerText = amountToPayText;
    document.getElementById("addressId").value = selectedAddress.value;
    document.getElementById("paymentMethod").value = paymentMethodText;
    document.getElementById("amount-to-pay").value = amountToPayText
      .replace("₹", "")
      .trim();

    const usedCouponText = usedCouponCode
      ? `Used Coupon: ${usedCouponCode}`
      : "No Coupon Used";
    document.getElementById("used-coupon").innerText = usedCouponText;

    const confirmDialog = new bootstrap.Modal(
      document.getElementById("confirm-dialog")
    );
    confirmDialog.show();
  }

  document.addEventListener("DOMContentLoaded", function () {
    const modal = document.getElementById("confirm-dialog");
    const closeButtons = modal.querySelectorAll('[data-bs-dismiss="modal"]');

    closeButtons.forEach((button) => {
      button.addEventListener("click", function () {
        const modalInstance = bootstrap.Modal.getInstance(modal);
        modalInstance.hide();
      });
    });
  });
  function triggerRazorpayPayment() {
    const amounttopay = document.getElementById("total");
    const amount =
      parseFloat(amounttopay.textContent.replace("₹", "").trim()) * 100;
    const selectedAddressId = document.querySelector(
      'input[name="selectedAddressId"]:checked'
    ).value;

    let options = {
      key: "rzp_test_43B9POe4e23YRY",
      amount: amount,
      name: "Stepify",
      description: "Payment for Order",
      image: "/public/usercss/img/logo.png",
      handler: function (response) {
        if (response.razorpay_payment_id) {
          const paymentData = {
            amount: amount / 100,
            paymentmode: "Online Payment",
            addressId: selectedAddressId,
            razorpay_payment_id: response.razorpay_payment_id,
            razorpay_order_id: "In order Id",
          };
          verifyPayment(paymentData);
        } else {
          console.log("Payment failed or canceled:");
        }
      },
      prefill: {
        name: "Admin",
        email: "admin@example.com",
        contact: "+919876543210",
      },
    };

    var rzp1 = new Razorpay(options);
    rzp1.open();
  }

  async function verifyPayment(paymentData) {
    const url = "/online-payment";
    const transferData = {
      paymentData,
      onlineCouponUsed,
    };

    const options = {
      method: "post",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(transferData),
    };

    try {
      const response = await fetch(url, options);

      if (response.ok) {
        const reply = await response.json();
        console.log("Payment verified:", reply);

        Swal.fire({
          icon: "success",
          title: "Payment Successful",
          text: "Your payment has been successfully processed.",
          confirmButtonColor: "#3085d6",
          confirmButtonText: "OK",
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = "/verify-order";
          }
        });
      } else {
        console.log("Payment verification failed");

        Swal.fire({
          icon: "error",
          title: "Payment Failed",
          text: "There was an issue processing your payment. Please try again later.",
          confirmButtonColor: "#d33",
          confirmButtonText: "OK",
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = "/cart";
          }
        });
      }
    } catch (error) {
      console.error("Error verifying payment:", error);
      Swal.fire({
        icon: "error",
        title: "Error",
        text: "An unexpected error occurred. Please try again later.",
        confirmButtonColor: "#d33",
        confirmButtonText: "OK",
      });
    }
  }

  var tooltipTriggerList = [].slice.call(
    document.querySelectorAll('[data-bs-toggle="tooltip"]')
  );
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl);
  });

  var popoverTriggerList = [].slice.call(
    document.querySelectorAll('[data-bs-toggle="popover"]')
  );
  var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl);
  });
</script>

<%- include("./layouts/footer.ejs") %>
