<% if(userData){%>
	<%- include("./layouts/userheader.ejs") %>
		<%}else{%>
			<%- include("./layouts/header.ejs") %>
				<%}%>
					<!-- start banner Area -->
					<section class="banner-area">
						<div class="container">
							<div class="row fullscreen align-items-center justify-content-start">
								<div class="col-lg-12">
									<div class="active-banner">
										<!-- single-slide -->
										<div class="row single-slide align-items-center d-flex">
											<div class="col-lg-5 col-md-6">
												<div class="banner-content">
													<h1>Nike New <br>Collection!</h1>
													<p>"Step into Style and Comfort with Our Footwear Collection!
														<br>Discover the perfect blend of style and comfort with our
														stunning collection of footwear. Whether you're looking for
														casual kicks, elegant heels, sporty sneakers, or sturdy boots,
														we've got you covered.
													</p>
													<div class="add-bag d-flex align-items-center">
														<a class="add-btn" href="/"><span
																class="lnr lnr-cross"></span></a>
														<span class="add-text text-uppercase">Add to Bag</span>
													</div>
												</div>
											</div>
											<div class="col-lg-7">
												<div class="banner-img">
													<img class="img-fluid"
														src="/public/usercss/img/banner/banner-img.png" alt="">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- End banner Area -->
					<!-- start features Area -->
					<section class="features-area section_gap">
						<div class="container">
							<div class="row features-inner">
								<!-- single features -->
								<div class="col-lg-3 col-md-6 col-sm-6">
									<div class="single-features">
										<div class="f-icon">
											<img src="/public/usercss/img/features/f-icon1.png" alt="">
										</div>
										<h6>Free Delivery</h6>
										<p>Free Shipping on all order</p>
									</div>
								</div>
								<!-- single features -->
								<div class="col-lg-3 col-md-6 col-sm-6">
									<div class="single-features">
										<div class="f-icon">
											<img src="/public/usercss/img/features/f-icon2.png" alt="">
										</div>
										<h6>Return Policy</h6>
										<p>Free Shipping on all order</p>
									</div>
								</div>
								<!-- single features -->
								<div class="col-lg-3 col-md-6 col-sm-6">
									<div class="single-features">
										<div class="f-icon">
											<img src="/public/usercss/img/features/f-icon3.png" alt="">
										</div>
										<h6>24/7 Support</h6>
										<p>Free Shipping on all order</p>
									</div>
								</div>
								<!-- single features -->
								<div class="col-lg-3 col-md-6 col-sm-6">
									<div class="single-features">
										<div class="f-icon">
											<img src="/public/usercss/img/features/f-icon4.png" alt="">
										</div>
										<h6>Secure Payment</h6>
										<p>Free Shipping on all order</p>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- end features Area -->
					<!-- start product Area -->
					<section class=" active-product">
						<!-- single product slide -->
						<div class="">
							<div class="container">
								<div class="row justify-content-center">
									<div class="col-lg-6 text-center">
										<div class="section-title">
											<h1> Premium Collections</h1>
											<p></p>
										</div>
									</div>
								</div>
								<div class="row">
									<% for(const product of products) { %>
										<!-- single product -->
										<div class="col-lg-3 col-md-6">
											<div class="single-product ">
												<a href="/productview?id=<%=product._id%>"><img class="img-fluid"
														src="/public/uploads/<%= product.image[0] %>" alt=""
														style="width: 300px;height: 300px;"></a>
												<div class="product-details">
													<span><%=product.brand%></span>
													<h5>
														<%= product.categoryName %>
													</h5>
													<div class="price">
														<h5>Price: ₹ <%= product.price %>
														</h5>
														<span>Person : <%=product.person%></span><br>
														<span class="">Size: <%= product.size%>
														</span>

													</div>
													<% if(userData){%>
														<div class="prd-bottom">
															<a href="" class="social-info">
																<span class="ti-bag"></span>
																<p class="hover-text">add to bag</p>
															</a>
															<a href="" class="social-info">
																<span class="lnr lnr-heart"></span>
																<p class="hover-text">Wishlist</p>
															</a>
														</div>
														<%}%>
												</div>
											</div>
										</div>
										<% } %>
								</div>
							</div>
						</div>
						</div>
					</section>
					<%- include("./layouts/footer.ejs") %>