<%- include("./layouts/header.ejs") %>

    <% if (data && data.length> 0) { %>
        <div class="p-5 overflow-x-auto">
            <table class="w-full whitespace-no-wrap" style="font-family: Arial, sans-serif; font-size: 14px;">
                <thead>
                    <tr
                        class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                        <th class="px-4 py-3">Category Name</th>
                        <th class="px-4 py-3">Brand</th>
                        <th class="px-4 py-3">Available Stock</th>
                        <th class="px-4 py-3">Actions</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                    <% for (let i=0; i < data.length; i++) { %>
                        <tr class="text-gray-700 dark:text-gray-400">
                            <td class="px-4 py-3">
                                <div class="flex items-center text-sm">
                                    <p class="font-semibold">
                                        <%= data[i].categoryName %>
                                    </p>
                                </div>
                            </td>
                            <td class="px-4 py-3 text-sm">
                                <p class="font-semibold">
                                    <%= data[i].brand %>
                                </p>
                            </td>
                            <td class="px-4 py-3 text-sm">
                                <p class="font-semibold">
                                    <%= data[i].quantity %>
                                </p>




                            </td>

                            <td class="px-4 py-3">
                                <a href="/admin/product/editproduct?id=<%= data[i]._id %>">
                                    <button onclick="addStock()"
                                        class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                        aria-label="Edit">
                                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                            <path
                                                d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z">
                                            </path>
                                        </svg>Update Stock
                                    </button>
                                </a>

                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>

        </div>
        <% } else { %>
            <div class="p-5 text-center mt-4">
                <h1 class="text-xl font-semibold text-gray-600 mt-4">Stock Available</h1>
            </div>
            <% } %>
             
          

                <%- include("./layouts/footer.ejs") %>