<%- include("./layouts/header.ejs") %>
    <style>
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
        }
    </style>

    <div class="container px-6 mx-auto grid" style="width: 50%; margin-top: 5%; font-size: 1.2rem;">
        <form action="/admin/product" method="post" enctype="multipart/form-data">
            <div class="px-4 py-4 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800 p-5 ">
                <div class="text-center font-semibold">
                    <!-- Increase the font size using inline style -->
                    <h1 class="text-3xl text-black">
                        Add Product
                    </h1>
                </div>
                <div class="row flex py-4 ">
                    <div class="col-xl-6">
                        <label class="block mt-4 text-sm">
                            <span class="text-gray-700 dark:text-gray-400">
                                Category
                            </span>
                            <select name="categoryName" id="categoryName"
                                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-select">
                                <% for (category of uniqueCategoryArray) { %>
                                    <option value="<%= category %>">
                                        <%= category %>
                                    </option>

                                    <% } %>
                            </select>
                        </label>
                    </div>

                    <div class="col-xl-6 mx-auto">
                        <label class="block mt-4 text-sm">
                            <span class="text-gray-700 dark:text-gray-400">
                                Brand
                            </span>
                            <select name="brand" id="brand"
                                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-select">
                                <% for (brand of uniqueBrandArray) { %>
                                    <option value="<%= brand %>">
                                        <%= brand %>
                                    </option>

                                    <% } %>
                            </select>
                        </label>
                    </div>

                </div>
                <div class="row flex ">
                    <div class="col-xl-6 ">
                        <label class="block mt-4 text-sm">
                            <span class="text-gray-700 dark:text-gray-400">
                                Person
                            </span>
                            <input type="text"
                                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                id="person" name="person" placeholder="For" required="">

                        </label>

                    </div>
                    <div class="col-xl-6 mx-auto">
                        <label class="block mt-4 text-sm">
                            <span class="text-gray-700 dark:text-gray-400">
                                Size
                            </span>
                            <input type="number"
                                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                id="size" name="size" placeholder="Size" required="" min="3">
                            <p id="validationMessage" style="color: red;font-size: 13px;"></p>
                        </label>

                    </div>

                </div>
                <div class="row flex ">
                    <div class="col-xl-6 ">
                        <label class="block mt-4 text-sm">
                            <span class="text-gray-700 dark:text-gray-400">
                                Color
                            </span>
                            <input type="text"
                                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                id="color" name="color" placeholder="Color" required="">
                        </label>

                    </div>
                    <div class="col-xl-6 mx-auto">
                        <label class="block mt-4 text-sm">
                            <span class="text-gray-700 dark:text-gray-400">
                                Price
                            </span>
                            <input type="number"
                                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                id="price" name="price" placeholder="Enter the Price" required="">
                                <p id="validationPrice" style="color: red;font-size: 13px;"></p>
                        </label>

                    </div>

                </div>
                <div class="row flex">
                    <div class="col-md-6">
                        <label class="block mt-4 text-sm">
                            <span class="text-gray-700 dark:text-gray-400">
                                Quantity
                            </span>
                            <input type="number"
                                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                id="quantity" name="quantity" placeholder="Quantity" required="">
                        </label>
                        <p id="validationQuantity" style="color: red;font-size: 13px;"></p>
                    </div>


                </div>
                <div class="col-xl-6">
                    <label class="block mt-4 text-sm">

                        <input type="file" class="" name="image" id="image" accept="image/*" multiple>

                    </label>

                </div>





                <div class="row ">
                    <div class="col-xl-12 ">
                        <label class="block mt-4 text-sm">
                            <span class="text-gray-700 dark:text-gray-400">
                                Description
                            </span>
                            <input type="text"
                                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                id="description" name="description" placeholder="description" required="">
                        </label>

                    </div>
                </div>




                <button type="submit"
                    class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">Add
                    Product</button>
            </div>
        </form>
    </div>


    <script>
        // Get a reference to the input field and error message element
        const quantityInput = document.getElementById("size");
        const quantity = document.getElementById("quantity");
        const price = document.getElementById("price");

        const validationMessage = document.getElementById("validationMessage");
        const validationQuantity = document.getElementById("validationQuantity");
        const validationPrice= document.getElementById("validationPrice");

        // Add an event listener to the input field to validate the value
        quantityInput.addEventListener("input", function () {
            const enteredValue = parseInt(quantityInput.value, 10);

            // Check if the entered value is negative
            if (enteredValue < 0) {
                validationMessage.textContent = "size cannot be negative.";
                quantityInput.setCustomValidity("size cannot be negative."); // Set a custom validation message
            } else {
                validationMessage.textContent = ""; // Clear the validation message
                quantityInput.setCustomValidity(""); // Clear the custom validation message
            }
        });

        quantity.addEventListener("input", function () {
            const enteredValue = parseInt(quantity.value, 10);

            // Check if the entered value is negative
            if (enteredValue < 1) {
                validationQuantity.textContent = "Quantity cannot be less than 1";
                quantity.setCustomValidity("Quantity cannot be lessthan 1."); // Set a custom validation message
            } else {
                validationQuantity.textContent = ""; // Clear the validation message
                quantity.setCustomValidity(""); // Clear the custom validation message
            }
        });

        price.addEventListener("input", function () {
            const enteredValue = parseInt(price.value, 10);

            // Check if the entered value is negative
            if (enteredValue < 100) {
                validationPrice.textContent = "Price cannot be less than minimum price";
                price.setCustomValidity("Price cannot be less than minimum price"); // Set a custom validation message
            } else {
                validationPrice.textContent = ""; // Clear the validation message
                price.setCustomValidity(""); // Clear the custom validation message
            }
        });
    </script>



    <script>
        function conform() {
            const arr = document.getElementById("image").files
            console.log(arr.length)
        }
    </script>
    <%- include("./layouts/footer.ejs") %>